POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=pulogik_db
SECRET_KEY=your_super_secret_key_here
DATABASE_URL=postgresql://postgres:your_password@localhost:5432/pulogik_db
BACKEND_CORS_ORIGINS=https://employee-management-system-pi-olive.vercel.app,http://localhost:5173,http://localhost:3000
BACKEND_CORS_ORIGIN_REGEX=https://employee-management-system-.*\.vercel\.app
